.age {
    background: $blue;
}

.age__title {
    padding-top: 10rem;
}

.age__text {
    margin: 3rem 0 8rem 0;
    line-height: 0;
    @media (max-width: 992px) {
        line-height: 3rem;
    }
}

.age__block{
    text-align: center;
}

.age__img {
       width: 100%;
}