.btn {
    font-size: 2rem;
    font-weight: 400;
    width: 28.4rem;
    padding: 2rem 0;
    color: $white;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    transition: .2s;
    &:active {
        -webkit-transform: translate(0, 8px);
        transform: translate(0, 8px);
    }
    @media (max-width: 576px) {
        font-size: 1.6rem;
        width: 20rem;
    }
}

.btn__orange {
    background: $orange_btn;
    box-shadow: 0 10px $brown_btn;
    &:hover {
        background: darken($orange_btn, 3%);
    }
    &:active {
        background: $brown_btn;
        box-shadow: 0 2px $brown_btn;
    }
}

.btn__blue {
    background: $blue;
    box-shadow: 0 10px $blue_btn;
    &:hover {
        background: darken($blue, 3%);
    }
    &:active {
        background: $blue_btn;
        box-shadow: 0 2px $blue_btn;
    }
}