.footer {
    margin-top: 5.9rem;
    border-top: 3px solid $grey;
}

.navigate {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
    list-style-type: none;
    @media (max-width: 576px) {
        padding-top: 2rem;
        display: table;
        margin: auto;
    }
}

.navigate__item {
    margin: 0 6rem;
    @media (max-width: 992px) {
        margin: 0 3rem;
    }
    @media (max-width: 767px) {
        margin: 0 2rem;
    }
    @media (max-width: 576px) {
        padding: 1rem 0;
        text-align: center;
    }
}

.navigate__link {
    font-size: 1.6rem;
    color: #999999;
    font-weight: 700;
    text-decoration: none;
}

.square {
    display: flex;
    justify-content: center;
}

.square__item{
    margin: 5rem 2rem 4rem 2rem;
    width: 13px;
    height: 13px;
    background: #eeeeee;
    @media (max-width: 576px) {
        margin: 3rem 2rem;
    }
}

.address {
    margin-bottom: 4.5rem;
    font-size: 1.4rem;
    color: #aaaaaa;
    text-align: center;
    list-style-type: none;
    line-height: 3rem;
}

.mail {
    display: flex;
    font-size: 1.6rem;
    color: #e1aa6e;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

.right{
    border-top: 1px solid #eeeeee;
}

.right__text {
    font-size: 1.2rem;
    text-align: center;
    color: #aaaaaa;
    padding: 3rem 0 5rem 0;
    margin: 2rem 2rem;
    @media (max-width: 576px) {
        margin: 0;
        padding: 1rem 0 2rem 0;
    }
}