.header {
    background: url(../img/jared-sluyter.jpg) no-repeat center top / cover;
    height:100vh;
}

.header__logo {
    @media (max-width: 768px) {
        padding-top: 2rem;
    }
    @media (max-width: 576px) {
        max-width: 70%;
        text-align: center;
    }
}