.hero {
    padding-top: 18rem;
    position:relative;
    @media (max-width: 1024px) {
        padding-top: 3rem;
    }
    @media (max-width: 992px) {
        padding-top: 0;
    };
}

.hero__title {
    padding-bottom: 2rem;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
    @media (max-width: 576px) {
        text-align: center;
        padding-top: 2rem;
    }
}

.hero__text {
    max-width: 53rem;
    padding: .2rem 0 4rem 0;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
    @media (max-width: 1024px) {
        max-width: 45rem;
    }
    @media (max-width: 992px) {
        max-width: 33rem;
        padding: .2rem 0 2rem 0;
    }
    @media (max-width: 576px) {
            max-width: none;
    }
}

.btn__block {
    @media (max-width: 576px) {
        position:absolute;
        top: 75vh;
        left:50%;
        margin-left: -10rem;
    }
}