.home {
    background: #1b97c5 url(../img/home_background.png) no-repeat center top / cover;
    text-align: center;
}

.home__title {
    padding: 4rem 0 0;
}

.photo{
    position: relative;
    top: 50px;
    max-width: 740px;
    z-index: 1;
    margin: 0 auto;
    border: 8px solid $white;
}

.photo__slider {
    position: relative;
    height: 100%;
    overflow: hidden;
    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: #fff url("../img/ajax-loader.gif") center no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }
    &.slick-initialized {
        overflow: visible;
        &:after {
            display: none;
        }
    }
}

.home__layer {
    background: $white;
    padding-bottom: 10rem;
    z-index: -1;
}

.photo__img {
    @media (max-width: 768px) {
        width: 100%;
    }
}

.photo {
    @media (max-width: 992px) {
        max-width: 88%;
    }
    @media (max-width: 576px) {
        width: 100%;
    }
}

.photo__arrow {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 2;
    &:hover {
        .photo__arrow_icon {
            fill: #cccccc;
        }
    }
    &:focus {
        outline: none;
    }
    &_prev {
        left: 1rem;
        transform: translateY(-50%) rotate(180deg);
    }
    &_next {
        right: 1rem;
        transform: translateY(-50%);
    }
}

.photo__arrow_icon {
    width: 30px;
    height: 40px;
    fill: #fff;
    transition: fill .1s linear;
}