.join {
    background: $blue_join;
    margin-bottom: 5.9rem;
}

.join__img {
    margin: 0 auto;
    @media (max-width: 768px) {
        width: 100%;
    }
}

.join__block {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 992px) {
        display: block;
        text-align: center;
        padding: 3rem 0;
    }
}

.join__info {
    max-width: 50rem;
    padding-left: 3rem;
    margin-top: -1.5rem;
    @media (max-width: 1024px) {
        margin-top: 0;
        padding-left: 2rem;
    }
    @media (max-width: 992px) {
        max-width: none;
        padding: 0 1rem ;  
    }
}

.join__text_italic {
    font-weight: 300;
    font-style: italic;
}

.join__title {
    padding: 2.5rem 0;
    
    @media (max-width: 1024px) {
        padding: 2rem 0;
    }
}

.join__block_text {
    padding-bottom: 4rem;
    @media (max-width: 1024px) {
        padding-bottom: 2rem;
    }
}