.mbis {
    margin-top: -1.3rem;
    padding: 7rem 0;
    background: $white;
}

.mbis__info {
    max-width: 88rem;
    text-align: center;
}

.mbis__title {
    font-size: 2.4rem;
    font-weight: 600;
    color: $grey_MBIS_title;
}

.mbis__text {
    margin: 4rem 0;
    color: $grey_MBIS_text;
}