.nav {
    padding-top: 4.2rem;
    display: flex;
    list-style-type: none;
    @media (max-width: 768px) {
        display: none;
    }
}

.nav__link {
    font-size: 1.6rem;
    text-transform: uppercase;
    padding-left: 4rem;
    display: inline-block;
    color:$grey_menu;
    line-height: 1;
    text-decoration:none;
    cursor: pointer;
        &:hover {
            color: $white;
            text-shadow: 1px 1px 1px rgba(0,0,0,0.35);
        }
}
.nav__link:after {
    background-color: $blue;
    display: block;
    content: "";
    margin-top: 4.4rem;;
    height: .5rem;
    width: 0%;
}
.nav__link:hover:after,
.nav__link:focus:after {
    width: 100%;
}