.partners {
    background: $white_grey;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
}

.partners__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 768px) {
        display: table-row;
        text-align: center;
    }
}

.partners__block a{
    text-decoration: none;
}

.partners__item {
    padding: 2.8rem 0;
    @media (max-width: 478px) {
        max-width: 296px;
        margin: 0 auto;
    }
}

.partners__logo {
    max-width: 100%;
    @media (max-width: 768px) {
        padding: 1rem 1rem;
    }
}

@media (max-width: 992px) {
    .partners__item a{
        padding: 0 1rem;
    }
}