<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body>
    {{> sprite }}
<header class="header">
    <!-- Header -->
    {{> header }}
    <div class="hero">
        <!-- Hero -->
    {{> hero }}
    </div>
</header>
<section class="partners">
    {{> partners}}
</section>
<section class="age">
    {{> age}}
</section>
<section class="mbis">
    {{> mbis}}
</section>
<section class="home">
    {{> home}}
</section>
<section class="join">
    {{> join}}
</section>
<footer class="footer">
    {{> footer }}
</footer>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="assets/js/app.min.js"></script>
</body>
</html>