<div class="row">
    <div class="container">
        <div class="age__block">
            <h2 class="age__title  title">
                Support For People Of All Walks of Life
            </h2>
            <p class="age__text">
                Children as young as 2 years old may begin to develop behaviors which need extra support and attention.
            </p>
            <picture >
                <source type="image/webp" srcset="assets/img/VectorSmartObject@1x.webp 1x, assets/img/VectorSmartObject@2x.webp 2x, assets/img/VectorSmartObject@3x.webp 3x">
                <img class="age__img" src="assets/img/VectorSmartObject@1x.png">
            </picture>
        </div>
    </div>
</div>