<div class="container">
    <ul class="navigate">
        <li class="navigate__item">
            <a class="navigate__link" href="https://www.google.com">HOME</a>
        </li>
        <li class="navigate__item">
            <a class="navigate__link" href="https://www.google.com">ABOUT US</a>
        </li>
        <li class="navigate__item">
            <a class="navigate__link" href="https://www.google.com">CONTACT</a>
        </li>
        <li class="navigate__item">
            <a class="navigate__link" href="https://www.google.com">CAREERS</a>
        </li>
    </ul>
    <div class="square">
        <span class="square__item"></span>
        <span class="square__item"></span>
        <span class="square__item"></span>
    </div>
    <ul class="address">
        <li class="direction">
            120 Theresa Ave, American Canyon, CA 94503
        </li>
        <li class="coordinates">
            707.561.0134 
        </li>
        <li>
            <a class="mail" href="mailto:familyresources@mbisinc.com">familyresources@mbisinc.com</a>
        </li>
    </ul>
    <div class="right">
        <p class="right__text">
            Copyright Ⓒ 2017 McGrews Behavior Services All Rights Reserved
        </p>
    </div>
</div>
