<div class="container">
        <div class="row">
            <a href="https://www.google.com">
                <picture>
                    <source type="image/webp" srcset="assets/img/Logo@1x.webp 1x, assets/img/Logo@2x.webp 2x, assets/img/Logo@3x.webp 3x">
                    <img class="header__logo" src="assets/img/Logo@1x.png">
                </picture>
            </a>
        <div>
        <ul class="nav">
            <li>
                <a class="nav__link  active" href="https://www.google.com">Home</a>
            </li>
            <li>
                <a class="nav__link" href="https://www.google.com">About us</a>
            </li>
            <li>
                <a class="nav__link" href="https://www.google.com">Contact</a>
            </li>
        </ul>
        <div class="overlay">
            <nav class="overlayMenu">  
                <ul role="menu">
                    <li><a href="https://www.google.com" role="menuitem">Home</a></li>
                    <li><a href="https://www.google.com" role="menuitem">About us</a></li>
                    <li><a href="https://www.google.com" role="menuitem">Contact</a></li>
                    <li><a href="https://www.google.com" role="menuitem">Careers</a></li>
                </ul>
            </nav>
        </div>
        <div class="navBurger" role="navigation" id="navToggle"></div>
    </div> 
</div>