<div class="container">
    <h2 class="hero__title">We can <span class="border__bottom">help</span>.</h2>
    <p class="hero__text">Teaching independence to the lives of the people you love with reliable, individualized emotional and behavioral therapy.</p>
    <div class="btn__block">
        <a class="btn  btn__orange" href="https://www.google.com">FIND HELP HERE</a>
    </div>
</div>