<div class="container">
    <h2 class="home__title  title">
        In Home Support
    </h2>
    <div class="photo">
        <a class="photo__arrow photo__arrow_prev" type="button" id="arrow_prev">
            <svg class="photo__arrow_icon">
                <use xlink:href="#arrow-right"></use>
            </svg>
        </a>
        <a class="photo__arrow photo__arrow_next" type="button" id="arrow_next">
            <svg class="photo__arrow_icon">
                <use xlink:href="#arrow-right"></use>
            </svg>
        </a>
        <div class="photo__slider" id="photo">
            <div>
                <img class="photo__img" src="assets/img/Layer3.jpg" alt="">
            </div>
            <div>
                <img class="photo__img" src="assets/img/AdobeStock_161021289_Preview.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<div class="home__layer"></div>