<div class="join__block">
    <div>
        <img class="join__img" src="assets/img/Picture.jpg" alt="">
    </div>
    <div class="join__info">
        <p class="join__text_italic">
            Be a part of something bigger than yourself. Make a difference.
        </p>
        <h2 class="join__title">
            Join Our <span class="border__bottom">Team</span>.
        </h2>
        <p class="join__block_text">
            We are always looking for highly motivated individuals who aligned with our committment to making a difference in the lives of other people. Whether you’re a BCBA or interested in ABA work we are interested in talking to you!
        </p>
        <a class="btn  btn__blue" href="https://www.google.com">FIND WHAT’S AVAILABLE</a>
    </div>
</div>