<div class="partners__item">
    <div class="container">
        <div class="partners__block">
            <a href="https://www.google.com">
                <picture>
                    <source type="image/webp" srcset="assets/img/Magellan-122@1x.webp 1x, assets/img/Magellan-122@2x.webp 2x, assets/img/Magellan-122@3x.webp 3x">
                    <img class="partners__logo" src="assets/img/Magellan-122@1x.png 1x, assets/img/Magellan-122@2x.png 2x, assets/img/Magellan-122@3x.png 3x">
                </picture>
            </a>
            <a href="https://www.google.com">
                <picture>
                    <source type="image/webp" srcset="assets/img/KaiserPermanente-143@1x.webp 1x, assets/img/KaiserPermanente-143@2x.webp 2x, assets/img/KaiserPermanente-143@3x.webp 3x">
                    <img class="partners__logo" src="assets/img/KaiserPermanente-143@1x.png 1x, assets/img/KaiserPermanente-143@2x.png 2x, assets/img/KaiserPermanente-143@3x.png 3x">
                </picture>
            </a>
            <a href="https://www.google.com">
                <picture>
                    <source type="image/webp" srcset="assets/img/Anthem-158@1x.webp 1x, assets/img/Anthem-158@2x.webp 2x, assets/img/Anthem-158@3x.webp 3x">
                    <img class="partners__logo" src="assets/img/Anthem-158@1x.png 1x, assets/img/Anthem-158@2x.png 2x, assets/img/Anthem-158@3x.png 3x">
                </picture>
            </a>
            <a href="https://www.google.com">
                <picture>
                    <source type="image/webp" srcset="assets/img/NorthBayRegionalCenter-189@1x.webp 1x, assets/img/NorthBayRegionalCenter-189@2x.webp 2x, assets/img/NorthBayRegionalCenter-189@3x.webp 3x">
                    <img class="partners__logo" src="assets/img/NorthBayRegionalCenter-189@1x.png 1x, assets/img/NorthBayRegionalCenter-189@2x.png 2x, assets/img/NorthBayRegionalCenter-189@3x.png 3x">
                </picture>
            </a>
            <a href="https://www.google.com">
                <picture>
                    <source type="image/webp" srcset="assets/img/PartnershipHealthPlanofCA-175@1x.webp 1x, assets/img/PartnershipHealthPlanofCA-175@2x.webp 2x, assets/img/PartnershipHealthPlanofCA-175@3x.webp 3x">
                    <img class="partners__logo" src="assets/img/PartnershipHealthPlanofCA-175@1x.png 1x, assets/img/PartnershipHealthPlanofCA-175@2x.png 2x, assets/img/PartnershipHealthPlanofCA-175@3x.png 3x,">
                </picture>
            <a href="https://www.google.com">
                <picture>
                    <source type="image/webp" srcset="assets/img/Aetna-140@1x.webp 1x, assets/img/Aetna-140@2x.webp 2x, assets/img/Aetna-140@3x.webp 3x">
                    <img class="partners__logo" src="assets/img/Aetna-140@1x.png 1x, assets/img/Aetna-140@2x.png 2x, assets/img/Aetna-140@3x.png 3x">
                </picture>
            </a>
        </div>
    </div>
</div>