.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: none;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: none;
    }
}

@media (max-width: 320px) {
    .container {
        max-width: none;
    }
}