@import "vars";

// Default stylys
html {
    font-size: 10px;
}
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

h1, h2, h3, p, ul, li {
    padding: 0;
    margin: 0;
    border: 0;
}

p {
    font-size: 1.8rem;
    color: $white;
    line-height: 3rem;
    letter-spacing: 0;
    font-weight: 400;
}

h2 {
    font-size: 4.8rem;
    font-weight: 700;
    color: $white;
    @media (max-width: 576px) {
        font-size: 3rem;
    }
}

.border__bottom {
    padding-bottom: 1rem;
    border-bottom: 4px $blue solid;
}

@import "container";
@import "row";


// Blocks
@import "blocks/header";
@import "blocks/nav";
@import "blocks/hero";
@import "blocks/btn";
@import "blocks/partners";
@import "blocks/age";
@import "blocks/mbis";
@import "blocks/home";
@import "blocks/join";
@import "blocks/footer";

// Vendor libs
@import "vendor/menu_burger";
@import "vendor/slick";