$white: #fff;
$white_grey: #fafafa;
$grey_menu: #454546;
$grey_MBIS_title: #777777;
$grey_MBIS_text: #444444;
$grey: #cccccc;
$blue: #00b5d2;
$blue_btn: #008ea5;
$blue_home: #1b97c5;
$blue_join: #367ab7;
$orange_btn: #e1aa6e;
$brown_btn: #ba8e5b;